amqp==2.2.0
billiard==3.5.0.2
celery==4.0.2
click==6.7
Flask==0.12.2
-e git://github.com/glovguy/intentiondetection.git@66dc05a1689793ae41b6eb8c10e680279d336ae2#egg=IntentionDetection
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.0.2
MarkupSafe==1.0
pytz==2017.2
vine==1.1.3
Werkzeug==0.12.2
